.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.7s;
    width: 90%;
    display: flex;
    flex-direction: horizontal;
    max-height:135px;
    min-width:250px;
    min-height:100px;
    border: 2px solid #ffffff;
    padding: 10px;
  }
  .card:hover {
      background:#f3f9fd;
      cursor: pointer;
      border: 2px solid #51B1E3;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .cardContainer {
    padding: 2px 16px;
    display: flex;
    flex: 3;
    flex-direction: column;
    align-items: stretch;
  }
  .hotelOpeningHours{
      font-size: 12px;
      bottom: 0px;
      position: relative;
      margin-bottom: 0px;
      vertical-align: text-bottom;
  }
  .hotelOpened{
    color: green;
    margin-right:5px;
  }
  .hotelClosed {
      color: red;
      margin-right:5px;
  }